<nav class="navbar navbar-expand-lg navbar-light" style="margin: 20px 20px;">
    <div class="col-1">
        <a class="btn tooltips" data-placement="right" data-toggle="tooltip" data-original-title="List"
        routerLink="/farms"><i class="fa fa-arrow-left"></i> </a>
    </div>
    <div class="col-6 mb-0 header-title">
        <strong> Fazenda {{ farm.name }} </strong>
    </div>
    <div class="col-4">
        <h6>Produtividade</h6>
        <h6>{{ farm.productivity }} kg/ha</h6>
    </div>
    <div class="col-1 btn-group btn-sm" role="group">   
        <a class="btn tooltips" data-placement="right"><i class="fa fa-pencil"></i> </a>
    </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light">
    <div class="col-9">
        <strong>Áreas da Fazenda</strong>
    </div>
    <button type="button" class="btn confirm-btn" style="width: 20%" data-bs-toggle="modal" data-bs-target="#addGlebeModal">
        + Nova área
    </button>
</nav>

<hr>

<ul class="list-group">
    <div *ngFor="let glebe of farm.glebes" class="container">
        <li class="list-group-item">
            <div class="col-xl-12">
                <div class="row align-items-center d-flex">
                    <div class="col-1">
                        <i class="far fa-map"></i>
                    </div>
                    <div class="col-9 mb-0">
                        <h5>Área {{ glebe.name }}</h5>
                        <h6>{{ glebe.area }} ha</h6>
                    </div>
                    <div class="col-2 btn-group btn-sm" role="group">
                        
                        <a class="btn tooltips" data-placement="right" data-toggle="tooltip" data-original-title="Edit"
                        data-bs-toggle="modal" data-bs-target="#editGlebeModal" (click)="setGlebeId(glebe.id)"><i class="fa fa-pencil"></i> </a>
                        
                        <a class="btn tooltips" data-placement="right" data-toggle="tooltip" data-original-title="Delete" 
                        data-bs-toggle="modal" data-bs-target="#deleteGlebeModal" (click)="setGlebeIdDeletion(glebe.id)"><i class="fa fa-times"></i></a>
                        
                        <a class="btn tooltips" data-placement="right" data-toggle="tooltip" routerLink="{{glebe.id}}/productions"><i class="fa fa-arrow-right"></i> </a>
                    
                    </div>
                </div>
            </div>
        </li>
    </div>
</ul>

<app-add-update-glebe [glebeIdEdit]="currentGlebeIdEdit" [farmId]="farm.id" (glebeEvent)="getGlebesFromFarm()"></app-add-update-glebe>
<app-glebe-dialogs [glebeId]="currentGlebeId" [farmId]="farm.id" (glebeDeletedEvent)="getGlebesFromFarm()"></app-glebe-dialogs>