
<!-- Add farm modal -->
<div class="modal fade" id="addFarmModal" tabindex="-1" aria-labelledby="addFarmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="addFarmModalLabel">Adicionar nova fazenda</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form #addForm="ngForm" (ngSubmit)="onAddFarm(addForm)">
            <input type="text" name="name" id="name" ngModel
            placeholder="*Nome" required #name="ngModel">
            <div>
                <span class="help-block" style="padding: 3px;" *ngIf="!name.valid && name.touched">Por favor, insira um nome válido!</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn cancel-btn" data-bs-dismiss="modal" id="add-farm-btn">Cancelar</button>
                <button type="submit" class="btn confirm-btn" >Salvar</button>
            </div>
            </form>
        </div>
    </div>
    </div>
</div>

<!-- Edit farm modal -->
<div class="modal fade" id="editFarmModal" tabindex="-1" aria-labelledby="editFarmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
<div class="modal-header">
    <h5 class="modal-title" id="editFarmModalLabel">Editar nome da fazenda</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>  </div>
  <div class="modal-body">
    <form #editForm="ngForm" (ngSubmit)="onUpdateFarm(editForm)">
        <input type="text" name="name" id="name" ngModel
        placeholder="*Nome" required #name="ngModel">
        <div>
            <span class="help-block" style="padding: 3px;" *ngIf="!name.valid && name.touched">Por favor, insira um nome válido!</span>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn cancel-btn" data-bs-dismiss="modal" id="close-edit-farm-btn">Cancelar</button>
            <button type="submit" class="btn confirm-btn">Salvar</button>
        </div>
    </form>
</div>
</div>
</div>
</div>
